#burger_navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  transition: ease 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--blueColor);
  z-index: 2;

  img {
    margin-bottom: 50px;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--28px);

    a {
      padding: 5px;
    }
  }
}

#burger_navigation.open {
  left: 0;
}

@media(min-width:750px) {
  #burger_navigation {
    display: none;
  }
}